* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

#img-renata {
    width: 4rem;
    border-radius: 50%;
}

.header-menu {
    al
}